<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>

    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/admin/img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('assets/admin/img/favicon.png') }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{% block title %}ADMIN DASHBORD{% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="{{ asset('assets/admin/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/admin/css/now-ui-dashboard.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/admin/css/custom.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/admin/demo/demo.css') }}" rel="stylesheet"/>

    {% block css %}{% endblock %}

</head>

<body class="">
<div class="wrapper">

    {% block content %}{% endblock %}

</div>

{% block js %}{% endblock %}

</body>

</html>