html {
    background: url(../images/bg_html.png);
}

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: url(../images/bg_body.png) repeat-x 0 0;
}

* {
    outline: none;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

a:hover {
    text-decoration: underline;
}

ul, li, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-position: outside;
    list-style-type: none;
}

#wrapper {
    margin: 0 auto;
    width: 988px;
}

/* ==================== HEADER ======================= */
/* ====================================================*/
.header {
    height: 116px;
    background: url(../images/bg_header.png) no-repeat 50% 100%;
}

h1.logo {
    padding: 27px 0 0;
    width: 225px;
    height: 65px;
    margin: 0 auto;
}

h1.logo span {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/logo.png) no-repeat 0 0;
    text-indent: -9999px;
}

.content {
    padding: 17px 0 0;
}

.enter {
    text-align: center;
    padding: 0 0 25px;
}

.content h2 {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 7px;
}

.enter .str {
    width: 671px;
    height: 33px;
    display: block;
    color: #5a5a5a;
    border-width: 0px;
    padding: 8px 11px 9px;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    background: url(../images/bg_input.png) no-repeat 0 0;
    margin: 0 auto 20px;
    font-family: Georgia;
}

.enter .sbm_btn {
    padding: 0 0 3px;
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 55px;
    background: url(../images/sbm_btn.png) no-repeat;
    border-width: 0px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-family: Georgia;
}

.enter .sbm_btn:hover {
    background: url(../images/sbm_btn.png) no-repeat 0 -55px;
}

.recent {
    padding: 0 0 57px;
}

.recent h2 {
    text-align: center;
    padding: 0 0 15px;
    background: url(../images/divider.png) no-repeat 50% 100%;
    margin: 0 0 16px;
    font-size: 20px;
}

.recent ul {
    width: 992px;
    margin: 0 -4px 0 0;
}

.recent li {
    display: inline-block;
    vertical-align: top;
    width: 236px;
    margin: 0 9px 25px 0;
}

* + html .recent li {
    display: inline;
    margin: 0 12px 22px 0;
}

.recent li em {
    color: #777;
    display: block;
    text-align: center;
    line-height: 16px;
}

.recent li a {
    cursor: pointer;
}

.recent li a:hover em {
    text-decoration: underline;
}

.recent li .img_wrap {
    display: block;
    width: 227px;
    padding: 8px 0 0 9px;
    height: 146px;
    background: url(../images/img_wrap.png) no-repeat;
}

.recent li img {
    display: block;
    width: 218px;
    height: 136px;
}

.progress {
    text-align: center;
    padding: 20px 20px 40px 20px;
    display: none;
}

.link {
    text-align: center;
    padding: 0px 20px 40px 20px;
    display: none;
}

.link input {
    width: 600px;
}

.screenshot {
    display: none;
    background: url(../images/bg_screenshot.png) no-repeat;
    padding: 23px 0 0 14px;
    width: 974px;
    height: 635px;
    margin: -24px 0 4px;
}

.screenshot img {
    width: 960px;
    height: 600px;
    display: none;
}

.footer {
    background: #2b2b2b url(../images/bg_footer.png) repeat-x 0 0;
    min-height: 30px;
}

.copyright {
    margin: 0 auto;
    text-align: center;
    color: #777;
    font-size: 11px;
    padding: 8px 0 0;
    font-style: italic;
}
