<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}SiteShot.Localhost{% endblock %}</title>

    <link href="{{ asset('assets/client/css/style.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('assets/client/js/scripts.js') }}"></script>

    {% block css %}{% endblock %}

</head>
<body>

<div id="wrapper">

    <div class="header">
        <h1 class="logo"><span id="logo_link"></span></h1>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="footer">
    <p class="copyright">© 2011 SiteShot.com. All rights reserved.</p>
</div>

{% block js %}{% endblock %}

</body>
</html>