{% extends 'layouts/client/base_layout_client.html.twig' %}

{% block content %}

    <form class="enter" action="" method="post" onsubmit="return false">
        <h2>Enter your URL</h2>
        <p><input id="input_url" type="text" name="url" placeholder="http://" class="str"></p>
        <p><input id="submit_url" type="submit" value="Get Screenshot" class="sbm_btn"></p>
    </form>

    <div class="progress" id="progress_container">
        <img src="{{ asset('assets/client/images/progress.gif') }}">
    </div>

    <div class="screenshot" id="screenshot_container">
        <img id="screenshot_image" src="" alt="image">
    </div>

    <div class="link" id="input_link_container">
        <span>Do you want to insert this image on your site/blog? Just copy image tag below:</span>
        <input type="text" id="input_link">
    </div>

    <div class="recent">
        <h2>Recent SiteShots</h2>
        <ul>
{#            <li>#}
{#                <a target="_blank" href="http://www.abl-tech.com">#}
{#                    <span class="img_wrap"><img#}
{#                                src=""#}
{#                                alt="http://www.abl-tech.com"></span>#}
{#                    <em>http://www.abl-tech.com</em>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </div>

{% endblock %}